#main.svelte-17c7hqb {
    --orange: #4d6fff !IMPORTANT;
    --orange-light: #7983ff !IMPORTANT;
    --orange-dark: #3660eb !IMPORTANT;
    --orange-button: var(--orange);
    --orange-scrollbar-back: #374db1 !IMPORTANT;
}
